*{
    margin: 0;
    padding: 0;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("img/bharathpront.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.nav-link{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    position: absolute;
top: 10px; right: 5px;


}
.hari{
    size: 1px;
    padding: 0px;
    margin: 0;
    
}
.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;


}
.nav-link ul li a{
    color:black;
    text-decoration: none;
    font-size: 15px;

}
.nav-link ul li::after{
    content: '';
    height: 2px;
    /* background: #4f36f4; */
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-link ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #8996;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;


}
.hh{
    color: black;
}
.text-box h1{
    font-size: 62px;
}
.yadu{
    display: inline-block;
    text-decoration: none;
    color: blue;
    border: 2px solid red;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 9%;
    left: -1%;

}
.yadu:hover{
    border: 1px solid yellow;
    transition: 1s;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }


}
.row{
    margin-top:5% ;
    display: flex;
    justify-content: space-between;
}
.row-col{
    flex-basis: 31%;
    background:#fff3f3;
    border-radius: 23px;
    margin-bottom: 6%;
    padding: 25px;
    box-sizing: border-box;
    background-color: yellow;

}
.hyy{
    font-size: 50px;
    position: absolute;
    top: 100%;
    left: 36%;
    padding: 2px;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    border: 1px solid blue;
}
.campus{
    width: 80%;
    margin: auto;
    padding-top: 18px;
    /* margin: 3px; */
}
.campus h1{
    text-align: center;
    margin: 13px;
}
.hariii{
    height: 120px;
    width: 120px;
    padding: 20px;
    margin: 2px;
}
.pyar{
    background-color: blue;
    border: 2px solid black;
}
.facilitie{
    font-size: 24px;
    background-color: #ff2f6a;

    padding: 2px;
    border: 1px solid blue;
    text-align: center;
}
.yadavv{
    width: 73px;
    height: 63px;
    
}
.main{
    margin: 0;
    padding: 0;
    background-image: url("img/bharathbac01.jpg");
    height: 100%;
    width: 100%;
}
 div.main{ 
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-size: medium;

}
div.register{
    /* background-color: blue; */
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 5px solid black;
} 
.hyan{
    padding: 13px;
    background-image: url("img/bodypicbharath.jpg");
    border: 2px solid red;
    margin: 12px;

}